<html>
  <head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formcss.css')}}">
  </head>
  <body>
    </br></br></br>
    <tr>
    <td>
      <h3 align="center">
        Add Admin
      </h3>
      </td>
    </tr>
    </br>
</br>
    <div class="formstyle" align="center">
	<form align="center" method="POST" action="/add_admin_control">
		<div class="textbox">
			<input type="text" name="adm_name" placeholder=" Name Of User*" required>
		</div>
		<div class="textbox">
			<input type="tel" name="adm_mobNo" pattern="[0-9]{10}" maxlength="10" placeholder=" Add Mobile Number*" required>
		</div>
		<div class="textbox">
			<input type="text" name="adm_userName" placeholder=" Set Username*"required>
		</div>
		<div class="textbox">
			<input type="password" name="adm_password" placeholder=" Set Password*" maxlength="16" minlength="8" required >
		</div>
					<input type="submit" value="Submit Now" class="btn">
	</div>
	</form>  
  </body>
</html>