<html>
  <head>
    <title></title>
  </head>
  <body>
    </br></br></br>
    <tr>
    <td>
      <h3 align="center">
        Add User
      </h3>
      </td>
    </tr>
    </br>
</br>
    <td align="center">
	<form align="center" method="POST" action="/add-user-control">
    <td align="center">
      </td>
    </tr>
	</br></br>
	<tr>
    <tr>
    <td align="center">
      <input type="text" name="name" placeholder=" Name Of User">
      </td>
    </tr>
	</br>
</br>
    <tr>
    <td align="center">
      <input type="tel" name="mob_number" pattern="[0-9]{10}" maxlength="10" placeholder=" Mobile Number">
      </td>
    </tr>
	</br>
</br>
    <tr>
    <td align="center">
      <input type="email" name="email_address" placeholder=" Email Address">
      </td>
    </tr>
	</br></br>
	<tr>
	<td>
      <select name="state_code">
        <option value="MH" selected>MH</option>
      </select>
      <select name="number_code">
        <option value="code1" selected>01</option>
        <option value="code2">02</option>
        <option value="code3">03</option>
        <option value="code4">04</option>
      </select>
	  <input type="text" name="area_code" maxlength="2" size="2">
      <input type="number" name="pin" maxlength="4" size="4">
      </td>
	</td>
	</tr>
</br></br>
	<tr>
    <td align="center">
      <input type="submit" value="Submit">
      </td>
    </tr>
    </form>  
  </body>
</html>