<html>
  <head>
    <title></title>
  </head>
  <body>
    </br></br></br>
    <tr>
    <td>
      <h3 align="center">
        Admin's Login
      </h3>
      </td>
    </tr>
    </br>
</br>
    <tr>
    <td align="center">
	<form align="center" method="POST" action="/admin_login">
    <td align="center">
      {{ verbose }}
      </td>
    </tr>
	</br></br>
	<tr>
    <td align="center">
      <input type="text" name="user_name" placeholder=" Enter Username">
      </td>
    </tr>
	</br></br>
    <tr>
    <td align="center">
      <input type="pass" name="pass_word" placeholder=" Enter Password">
      </td>
    </tr>
	</br></br></br></br>
	<tr>
    <td align="center">
      <input type="submit" value="Submit">
      </td>
    </tr>
    </form>  
  </body>
</html>



      
