<!--This page is to manually generate pdf-->

<html>
  <head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formcss.css')}}">
  </head>
  <body>
	<div class="titleverbose" align="center">
    </br></br></br>
	<table border=1>
	<tr>
		<th> Time Stamp </th><th> Car Number </th><th> Location </th><th> Fine Amount </th><th> Email Address </th><th> Time Stamp </th></tr>
		<!--{% for key, value in result.iteritems() %}-->
		{% for row in voilationRecord:
                time_stamp=row["TIME_STAMP"]
                car_no=row["CAR_NO"]
                loc_name=row["LOC_NAME"]
                fine_amount=row["FINE_AMOUNT"]
                email_id=row["EMAIL_ID"] %}
		<tr>
		<td> {{ time_stamp }} </td><td> {{ car_no }} </td><td> {{ loc_name }} </td><td> {{ fine_amount }} </td><td> {{ email_id }} </td>
		</tr>
		
		{% endfor %}
	</table>
	<tr>
    <td>
      <h1 align="center">
        Manually Generate Mail
      </h1>
	  </br>
	  <h1 align="center">Provide Details Below</h1>
     </td>
    </tr>
	</div>
	<div class="formstyle" align="center">
  <form align="center" method="POST" action="/generate-email-control">
	<div class="textbox">
      <input type="tel" name="time_stam" maxlength="17" placeholder=" Enter Time Stamp">
    </div>
					<input type="submit" value="Submit Now" class="btn">
	</div>
	</form>  
  </body>
</html>