<html>
  <head>
    <title></title>
  </head>
  <body>
  <form align="center" method="POST" action="/make-payment-control">
    </br></br></br>
	<table border=1>
	<thead>
	<tr>
		<th> Time Stamp </th><th> Car Number </th><th> Location </th><th> Fine Amount </th>
	</tr>
	</thead>
	<tbody>
		
		<tr>
			<td> {{ voilationRecord.TIME_STAM }} </td>
			<td> {{ voilationRecord.CAR_NO }} </td>
			<td> {{ voilationRecord.LOC_NAME }} </td>
			<td> {{ voilationRecord.FINE_AMOUNT }} </td>
		</tr>		
	</tbody>
		
	</table>
		
	
    <tr>
    <td>
      <h3 align="center">
        Enter Details Below to Make Payment
      </h3>
      </td>
    </tr>
	<tr>
    <td align="center">
      <input type="tel" name="time_stamp" maxlength="17" placeholder=" Enter Time Stamp">
      </td>
    </tr>
	<tr>
    <td align="center">
      <input type="submit" value="Submit">
      </td>
    </tr>
    </br>
</br>
</form>  
</body>
</html>
