<html>
  <head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formcss.css')}}">
  </head>
  <body>
  <div class="titleverbose" align="center">
    </br></br></br>
    <tr>
    <td>
      <h1 align="center">
        Payments Dues
      </h1>
      </td>
    </tr>
	</div>
	<div class="formstyle" align="center">
	<form align="center" method="POST" action="/payment-details-control">
	<div class="textbox">
		<select id="dropDown1" name="dropDwn1" onchange="editPage(this.id,'textbox1','textbox2','carNumber','submitButton')">
			<option class="dropoption" value="payment" selected>Payment</option>
			<option class="dropoption" value="generate-pdf">Generate EMail</option>
		</select>
	</div>
	<div class="textbox">
		<input type="tel" name="mob_number" id="textbox1" pattern="[0-9]{10}" maxlength="10" placeholder=" Enter Existing Mobile Number">
	</div>
		<input type="submit" value="Submit Now" class="btn">
	</div>
    </form>  
  </body>
</html>