<html>
  <head>
    <title></title>
  </head>
  <body>
    </br></br></br>
	<table border=1>
	<tr>
		<th> Time Stamp </th><th> Car Number </th><th> Location </th><th> Fine Amount </th>
	</tr>
	</table>
		<!--{% for key, value in result.iteritems() %}-->
		{% for row in voilationRecord: %}
		<div>
		<table border=1>
		<tr>
			<td> {{ row.TIME_STAMP }} </td>
			<td> {{ row.CAR_NO }} </td>
			<td> {{ row.LOC_NAME }} </td>
			<td> {{ row.FINE_AMOUNT }} </td>
		</tr>
		</table>
		</div>
		{% endfor %}
	
  <form align="center" method="POST" action="/make-payment-control">
    <tr>
    <td>
      <h3 align="center">
        Enter Details Below to Make Payment
      </h3>
      </td>
    </tr>
	<tr>
    <td align="center">
      <input type="tel" name="time_stamp" maxlength="17" placeholder=" Enter Time Stamp">
      </td>
    </tr>
	<tr>
    <td align="center">
      <input type="submit" value="Submit">
      </td>
    </tr>
    </br>
</br>
</form>  
  </body>
</html>
