<!--this page is only for removing admins-->
<html>
  <head>
    <title></title>
  </head>
  <body>
    </br></br></br>
  <form align="center" method="POST" action="/remove-admin">
    <tr>
    <td>
      <h3 align="center">
        Confirm below details to remove Admin
      </h3>
      </td>
    </tr>
    </br>
</br>
    <tr>
	<td>
	<input type="text" name="user_name" placeholder=" Confirm Username">
	</td>
	<td>
	<input type="tel" name="mob_number" pattern="[0-9]{10}" maxlength="10" placeholder=" Confirm Mobile Number">
	</td>
	<td>
	<input type="submit" value="Submit">
	</td>
	</form>
	</body>
</html>