<!--this page is only for removing user-->

<html>
  <head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formcss.css')}}">
  </head>
  <body background={{ url_for('static',filename='images/background.png')}}>
    </br></br></br>
	<div class="titleverbose" align="center">
    <tr>
    <td>
      <h1 align="center">
        Confirm below details to remove User
      </h1>
      </td>
    </tr>
	</div>
	<div class="formstyle" align="center">
    <form align="center" method="POST" action="/remove-user">
    <div class="textbox">
      <input type="tel" name="mob_number" pattern="[0-9]{10}" maxlength="10" placeholder=" Confirm Mobile Number">
	</div>
	<div class="textbox">
      <input type="email" name="email_address" placeholder=" Email Address">
	</div>
	  <input type="submit" value="Submit Now" class="btn">
	</div>
	</form>
	</body>
</html>