<!--this page is only for main admin login page-->
<html>
  <head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css.css')}}">
  </head>
  <body style="padding: 20px">
	<div class="settingicon">
		<img class="settin" src="{{ url_for('static',filename='images/settings-icon.png')}}">
		<div class="tablinks tablinks1"><a href="https://traffic-regulator.herokuapp.com/route-addAdmin"><img class="imageicon" src="{{ url_for('static',filename='images/change-password-icon.png')}}"></a></div>
		<div class="tablinks tablinks2"><a href="https://traffic-regulator.herokuapp.com/route-addAdmin"><img class="imageicon" src="{{ url_for('static',filename='images/logout-icon.png')}}"></a></div>
	</div>
	<div class="wrapper">
		<div class="items item1"><a href="https://traffic-regulator.herokuapp.com/route-addAdmin"><center><img src="{{ url_for('static',filename='images/add-admin-icon.png')}}" class="imgsrc"><p>Add Admin</p></center></a></div>
		<div class="items item2"><a href="https://traffic-regulator.herokuapp.com/route-updateAdminPassword"><center><img src="{{ url_for('static',filename='images/update-admin-icon.png')}}" class="imgsrc"><p>Update Admin</p></center></a></div>
		<div class="items item3"><a href="https://traffic-regulator.herokuapp.com/route-removeAdmin"><center><img src="{{ url_for('static',filename='images/remove-admin-icon.png')}}" class="imgsrc"><p>Remove Admin</p></center></a></div>
		<div class="items item4"><a href="https://traffic-regulator.herokuapp.com/route-addUser"><center><img src="{{ url_for('static',filename='images/add-users-icon.png')}}" class="imgsrc"><p>Add User</p></center></a></div>
		<div class="items item5"><a href="https://traffic-regulator.herokuapp.com/route-updateUser"><center><img src="{{ url_for('static',filename='images/update-user-icon.png')}}" class="imgsrc"><p>Update User</p></center></a></div>
		<div class="items item6"><a href="https://traffic-regulator.herokuapp.com/route-removeUser"><center><img src="{{ url_for('static',filename='images/remove-user-icon.png')}}" class="imgsrc"><p>Remove User</p></center></a></div>
		<div class="items item7"><a href="https://traffic-regulator.herokuapp.com/route-removeUser"><center><img src="{{ url_for('static',filename='images/voilations-table-icon.png')}}" class="imgsrc"><p>Check Voilations</p></center></a></div>
		<div class="items item8"><a href="https://traffic-regulator.herokuapp.com/route-generate-pdf"><center><img src="{{ url_for('static',filename='images/send-email-icon.png')}}" class="imgsrc"><p>Send Mail</p></center></a></div>
		<div class="items item9"><a href="https://traffic-regulator.herokuapp.com/route-removeUser"><center><img src="{{ url_for('static',filename='images/cheat-table-icon.png')}}" class="imgsrc"><p>Cheat Table</p></center></a></div>
	</div>
	</body>
</html>