<!--this page is only for main admin login page-->
<html>
  <head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css.css')}}">
  </head>
  <body style="padding: 20px" id="home">
	<!--<h1 class="title">Welcome</h1>
	<div class="tabContainer">
		<div class="buttonContainer">
			<button>Tab 1</button>
			<button>Tab 2</button>
			<button>Tab 3</button>
			<button>Tab 4</button>
		</div>
		<div class="tabPanel">Tab 1:Content</div>
		<div class="tabPanel">Tab 2:Content</div>
		<div class="tabPanel">Tab 3:Content</div>
		<div class="tabPanel">Tab 4:Content</div>
	</div> 
	
	<ul>
		<li><a>Admins</a>
			<ul>
				<li><a> Add Admins</a></li>
				<li><a> Update Details</a></li>
				<li><a> Remove Admin</a></li>
			</ul>
		</li>
		<li><a>Users</a>
			<ul>
				<li><a> Add Users</a></li>
				<li><a> Update Details</a></li>
				<li><a> Remove User</a></li>
			</ul>
		</li>
		<li><a>Voilations</a>
			<ul>
				<li><a> Add Users</a></li>
				<li><a> Update Details</a></li>
				<li><a> Remove User</a></li>
			</ul>
		</li>
	</ul> -->
	<div class="wrapper">
		<div class="items" id="item1"><a href="https://traffic-regulator.herokuapp.com/route-addAdmin"><img src="{{ url_for('static',filename='images/add-admin-icon.png')}}" align="middle" alt="Add Admin"></a></div>
		<div class="items" id="item2"><a href="https://traffic-regulator.herokuapp.com/route-updateAdminPassword"><img src="{{ url_for('static',filename='images/update-admin-icon.png')}}" align="middle" alt="Update Admin"></a></div>
		<div class="items" id="item3"><a href="https://traffic-regulator.herokuapp.com/route-removeAdmin"><img src="{{ url_for('static',filename='images/remove-admin-icon.png')}}" align="middle" alt="Remove Admin"></a></div>
		<div class="items" id="item4"><a href="https://traffic-regulator.herokuapp.com/route-addUser"><img src="{{ url_for('static',filename='images/add-users-icon.png')}}" align="middle" alt="Add User"></a></div>
		<div class="items" id="item5"><a href="https://traffic-regulator.herokuapp.com/route-updateUser"><img src="{{ url_for('static',filename='images/update-user-icon.png')}}" align="middle" alt="Update User"></a></div>
		<div class="items" id="item6"><a href="https://traffic-regulator.herokuapp.com/route-removeUser"><img src="{{ url_for('static',filename='images/remove-user-icon.png')}}" align="middle" alt="Remove User"></a></div>
		<div class="items" id="item7"><a href="https://traffic-regulator.herokuapp.com/route-removeUser"><img src="{{ url_for('static',filename='images/voilations-table-icon.png')}}" align="middle" alt="Diplay Voilations"></a></div>
		<div class="items" id="item8"><a href="https://traffic-regulator.herokuapp.com/route-generate-pdf"><img src="{{ url_for('static',filename='images/send-email-icon.png')}}" align="middle" alt="Send Mail"></a></div>
		<div class="items" id="item9"><a href="https://traffic-regulator.herokuapp.com/route-removeUser"><img src="{{ url_for('static',filename='images/cheat-table-icon.png')}}" align="middle" alt="Cheat Table"></a></div>
	</div>
		<!--<b>Root Home</b>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-addAdmin">Add Admins</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-updateAdminPassword">Update Admin's Details</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-removeAdmin">Remove Admins</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-addUser">Add Users</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-updateUser">Update User's Details</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-removeUser">Remove Users</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-payment">Payment</a>
		-->
	</body>
</html>