<!--this page is only for main admin login page-->
<html>
  <head>
    <title></title>
  </head>
  <body>
	{% if authentication==True %}
		<b>Root Home</b>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-addAdmin">Add Admins</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-updateAdminPassword">Update Admin's Password</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-removeAdmin">Remove Admins</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-addUser">Add Users</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-updateUser">Update User's Details</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-removeUser">Remove Users</a>
		</br></br>
		<a href="https://traffic-regulator.herokuapp.com/route-payment">Payment</a>
	{% endif %}
	</body>
</html>