<!--this page is only for update user details-->

<html>
  <head>
    <title></title>
	<script type="text/javascript">
		function editPage(id1,id2,id3,id4,id5)
		{
			var dropDown1=document.getElementById(id1);
						
			if(dropDown1.value=="name")
			{
				textbox2.placeholder=" Correct Name"
				document.getElementById("display2").style.display="none";
				//textbox1.style.visibility = 'visible';
				//textbox2.style.visibility = 'visible';
				//submitButton.style.visibility = 'visible';
			}
			else if(dropDown1.value=="mob_number")
			{	
				textbox2.placeholder=" New Mob No.";
				document.getElementById("display2").style.display="none";
			}
			else if(dropDown1.value=="email_address")
			{
				textbox2.placeholder=" New Email Addr";
				document.getElementById("display2").style.display="none";
			}
			else if(dropDown1.value=="car_number")
			{
				document.getElementById("display1").style.display="none";				
			}
		}
	</script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formcss.css')}}">
  </head>
  <body background={{ url_for('static',filename='images/background.png')}}>
  <div class="titleverbose" align="center">
    </br></br></br>
    <tr>
    <td>
      <h1 align="center">
        Confirm details to be Updated
      </h1>
      </td>
    </tr>
    </br>
	</br>
	</div>
	<div class="formstyle" align="center">
	<form align="center" method="POST" action="/update-user">
	<div class="textbox">
	<select id="dropDown1" name="dropDwn1" onchange="editPage(this.id,'textbox1','textbox2','carNumber','submitButton')">
        <option value="name" selected>Name</option>
        <option value="mob_number">Mobile Number</option>
        <option value="email_address">Email Address</option>
        <option value="car_number">Car Number</option>
    </select>
	</div>
	<div class="display1">
	<div class="textbox">
    <input type="tel" name="mob_number" id="textbox1" pattern="[0-9]{10}" maxlength="10" placeholder=" Existing Mob No." visibility="hidden">
	</div>
	<div class="textbox">
    <input type="text" name="usr_name" id="textbox2" placeholder=" Correct Name" visibility="hidden">
	</div>
	</div>

	<tr id="carNumber" visibility="hidden">
	
	<div class="display2">
	<h1>Enter New Car Number</h1>

	<div class="textbox">
	  <select name="state_code">
        <option value="MH" selected>MH</option>
      </select>
      <select name="number_code">
        <option value="01" selected>01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
      </select>
	
	  <input type="text" name="area_code" maxlength="2" size="2" placeholder=" Letter">
      <input type="number" name="pin" maxlength="4" size="4" placeholder=" Series Pin">
	</div>
			<input type="submit" value="Submit Now" class="btn">
	</div>
    </form>  
  </body>
</html>