<!--this page is only for update admin-->

<html>
  <head>
    <title></title>
	<script type="text/javascript">
		function editPage(id1,id2,id3,id4)
		{
			var dropDown1=document.getElementById(id1);
			var textbox1=document.getElementById(id2);
			var textbox2=document.getElementById(id3);
			var submitButton=document.getElementById(id4);
			
			if(dropDown1.value=="name")
			{
				textbox1.style.visibility = 'visible';
				textbox2.style.visibility = 'visible';
				submitButton.style.visibility = 'visible';
			}
			else if(dropDown1.value=="mob_number")
			{
				textbox2.placeholder=" Enter New Mobile Number"
				textbox1.style.visibility = 'visible';
				textbox2.style.visibility = 'visible';
				submitButton.style.visibility = 'visible';
			}
			else if(dropDown1.value=="user_name")
			{
				textbox2.placeholder=" Enter New Username"
				textbox1.style.visibility = 'visible';
				textbox2.style.visibility = 'visible';
				submitButton.style.visibility = 'visible';
			}
		}
	</script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formcss.css')}}">
  </head>
  <body>
    </br></br></br>
	<div class="titleverbose" align="center">
	    <tr>
    <td>
      <h1 align="center">
        Confirm details to be Updated
      </h1>
      </td>
    </tr>
	</div>
	<div class="titleverbose" align="center">
	<div class="formstyle" align="center">
	<form align="center" method="POST" action="/update-admin">
	<div class="textbox">
	<select id="dropDown1" name="dropDwn1" onchange="editPage(this.id,'textbox1','textbox2','submitButton')">
        <option value="name" selected>Name</option>
        <option value="mob_number">Mobile Number</option>
        <option value="user_name">New Username</option>
    </select>
	</div>
	<div class="textbox">
		<input type="tel" name="mob_number" id="textbox1" pattern="[0-9]{10}" maxlength="10" placeholder=" Enter Existing Mobile Number" visibility="hidden">
	</div>
	<div class="textbox">
		<input type="text" name="admin_name" id="textbox2" placeholder=" Enter Correct Name Of User" visibility="hidden">
	</div>
	<div class="textbox">
		<input type="submit" value="Submit Now" class="btn">
	</div>
    </form>  
  </body>
</html>