<!--this page is only for verbose after every function execution-->
<html>
  <head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formcss.css')}}">
  </head>
  <body>
  <div class="titleverbose" align="center">
    </br></br></br>
    <tr>
    <td>
      <h1 align="center">
      </h1>
      </td>
    </tr>
    </br>
</br>
    <tr>
	<td align='center'>
	
	<h1> {{ verbose }} </h1>
	
	</td>
	<a href="https://traffic-regulator.herokuapp.com/route-returnHome">Return to Home Page</a>
    </tr>
	</div>
    </form>  
  </body>
</html>