/*.title{
	font-family: sans-serif;
	color: #dc2d5e;
	text-align: center;
}

.tabContainer{
	width: 100%;
	height: 250px;
}

.tabContainer .buttonContainer{
	height: 25%;
}

.tabContainer .buttonContainer button{
	width: 25%;
	height: 100%;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	font-family: sans-serif;
	font-size: 18px;
	background-color: #eee;
}

.tabContainer .buttonContainer button:hover{
	background-color: #d7d4d4;
}

.tabContainer .tabPanel{
	height: 85%;
	background-color: gray;
	color: 	white;
	text-align: center;
	padding-top: 105px;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 22px;
	display: none;
} */

/*body {
	background: url('lotusT.jpg') no-repeat;
	background-size: cover;
	font-family: Arial;
	color: white;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%
}

ul li {
	float: left;
	height: 6.3%;
	width: 33.33%;
	background-color: black;
	opacity: .6;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li a:hover {
	background-color: orange;
}

ul li ul li {
	display: none;
	width: 100%;
	height:33.33;
}

ul li:hover ul li {
	display: block;
} */

body{
	background: #3F51B5;
}

.settingicon{
	height: 10%;
	margin-right : 1%;
	float : right;
	margin-top:0.8%;
}

.settin{
	height: 60%;
	margin-right : 1%;
	position:relative;
}

.tablinks{
	display: none;
	margin-right : 2%;
	position:relative;
}

.imageicon{
		height: 60%;
		margin-top: 1%
}

.settingicon:hover .tablinks{
	display: block;
}

.imgsrctb{
	height: 80%;
	margin-top: 30%;
}

.wrapper{
	width: 50%;
	height: 40%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
}

.items{
	height: 80%;
	margin-top: 30%;
	margin-left:40%;
	margin-bottom: 20%;
	margin-right: 20%;
	margin: 11% 10%;
}

.items:hover{
	transform: scale(1.1);
}

.item1{
	background-color: #B71C1C;
}

.item2{
	background-color:#FF8A65;
}

.item3{
	background-color:#BCAAA4;
}

.item4{
	background-color:#BA68C8;
}

.item5{
	background-color:#80DEEA;
}

.item6{
	background-color:#C5E1A5;
}

.item7{
	background-color:#FFD54F;
}

.item8{
	background-color:#757575;
}

.item9{
	background-color:#F06292;
}

.imgsrc{
	margin-top: 10%;
}
/*.items .item1{
	background: url('lotusT.jpg') no-repeat;
}
.item2{
	background: url('update-admin.png') no-repeat;
}

.item3{
	background: url('add-admin.png') no-repeat;
}

.item4{
	background: url('add-admin.png') no-repeat;
}

.item5{
	background: url('add-admin.png') no-repeat;
}

.item6{
	background: url('add-admin.png') no-repeat;
}

*/